<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
    <%- include('partials/header') -%>
   
	<section id="summer-collection">
		<div class="container">
			<div class="sc-content">
				<h1>Shoes collection</h1>
				<p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
					has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <button class="btn btn-primary p-3">
                        shop now
                    </button></div>
			<div class="sc-media">
				<div class="sc-media-bg"> <img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412556/E-commerce%20landing%20page/summer-collection/cold-fashion-man-women_3x.jpg" alt="sc-image" /> </div>
			</div>
		</div>
	</section>
	<section id="products">
		<div class="container">
			<div class="products-header">
				<h2>popular products</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div>
			<div class="product product-1">
				<figure> <img src="https://images.unsplash.com/photo-1603808033192-082d6919d3e1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHNob2VzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="product-image">
					<figcaption>cold fashion</figcaption>
					<figcaption>$ 56.00</figcaption>
				</figure>
			</div>
			<div class="product product-2">
				<figure> <img src="https://images.unsplash.com/photo-1603808033192-082d6919d3e1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHNob2VzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="product-image">
					<figcaption>women fashion</figcaption>
					<figcaption>$ 84.00</figcaption>
				</figure>
			</div>
			<div class="product product-3">
				<figure> <img src="https://images.unsplash.com/photo-1606107557195-0e29a4b5b4aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8c2hvZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" alt="product-image">
					<figcaption>men fashion</figcaption>
                    <figcaption>$ 48.00</figcaption>
				</figure>
			</div>
			<div class="product product-4">
				<figure> <img src="https://images.unsplash.com/photo-1606107557195-0e29a4b5b4aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8c2hvZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" alt="product-image">
					<figcaption>men fashion</figcaption>
					<figcaption>$ 89.00</figcaption>
				</figure>
			</div>

            <div class="product product-1">
				<figure> <img src="https://images.unsplash.com/photo-1595950653106-6c9ebd614d3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" alt="product-image">
					<figcaption>cold fashion</figcaption>
					<figcaption>$ 56.00</figcaption>
				</figure>
			</div>
			<div class="product product-2">
				<figure> <img src="https://images.unsplash.com/photo-1543508282-6319a3e2621f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=415&q=80" alt="product-image">
					<figcaption>women fashion</figcaption>
					<figcaption>$ 84.00</figcaption>
				</figure>
			</div>
			<div class="product product-3">
				<figure> <img src="https://images.unsplash.com/photo-1543508282-6319a3e2621f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=415&q=80" alt="product-image">
					<figcaption>women fashion</figcaption>
					<figcaption>$ 48.00</figcaption>
				</figure>
			</div>
			<div class="product product-4">
				<figure> <img src="https://images.unsplash.com/photo-1595950653106-6c9ebd614d3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" alt="product-image">
					<figcaption>men fashion</figcaption>
					<figcaption>$ 89.00</figcaption>
				</figure>
			</div>
		</div>
	</section>
	
	<div class="row mt-5  d-flex justify-content-center g-0">

        <div class="col-md-5  " style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; padding: 50px; margin-bottom: 50px;" >
          <h3 class="d-flex justify-content-center ">Contact Us!</h3>
          <form action="/dashboard" method="post">
              <div class="row mt-5 d-flex justify-content-center ">
                  <input type="text" class="form-control"  name="personName"id="exampleFormControlInput1" placeholder="Name">
                </div>
                <div class="row mt-4 d-flex justify-content-center">
                  <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="Email">
                </div>
                <div class="row mt-4 d-flex justify-content-center">
                    <textarea class="form-control" name="msg" placeholder="Message" rows="5" id="comment"></textarea>
                </div>
  
                <button type="submit" class="btn  btn-primary mt-5 mx-auto d-block">Submit</button>
          </form>
  
        </div>

	<footer>
		<p class="copy-right"><img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412543/E-commerce%20landing%20page/icons/copy-right-img_1x.png" alt="copy right image" /> 2022 all right recived </p>
		<p>privacy policy</p>
		<p>license</p>
	</footer>
	<div class="back-to-top"><a href="#nav"> <img title="Back to Top." src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412541/E-commerce%20landing%20page/icons/back_-_top_1x.png" alt="back to top"></a> </div>
</body>
</html>
